*.a
*.dylib
*.so
*.whl
/dist
/3rdparty
/KungFu
/Makefile
/logs
CTestTestfile.cmake
Testing/
_deps
generated
__pycache__
data/
intermediate/

# Mac
.DS_Store

# Pycharm Project Directory
venvgi/
.idea/
build/
.vscode/
srcs/python/torch_quiver.egg-info/

compile_commands.json
